* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background-color: hsl(30, 54%, 90%); */
  background-color: darkred;
  width: 100vw;
  height: 100vh;

  /* padding: 30px; */

}

#root {
  background-color: chocolate;
  width: 100%;
  height: 100%;

  /* width: 1440px;
  height: 1955px; */

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;

}

#page-wrapper {
  background-color: hsl(30, 54%, 90%);
  width: 375px;
  height: 2043px;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#page-wrapper > main {
  background-color: white;
  width: 100%;
  height: 100%;

  border-radius: 20px;

  font-family: 'Outfit', sans-serif;
}

/*  main > header*/
#omelette-img {
  width: 100%;
  height: 170px;
}

#omelette-img > img {
  width: 100%;
  height: 100%;

  object-fit: cover;  
}

/* main > div */
#main-content {
  
  width: 100%;
  height: 1873px;

  padding: 20px;

  color: hsl(30, 10%, 34%);
}

/* main > div > [internal divs] */
#recipe-description {
  width: 100%;
  height: 490px;
}

#recipe-description > h1 {
  height: 130px;

  color: hsl(24, 5%, 18%);
  font-size: 38px;
  font-family: 'Young serif', sans-serif;
}

#recipe-description > p {
  height: 150px;
  padding-top: 10px;

  font-size: 17px;
  color: hsl(30, 10%, 34%);
}


/* preparation time */
#preparation-time {
  background-color: hsl(330, 100%, 98%);
  width: 100%;
  height: 210px;

  padding: 25px;

  border-radius: 15px;
}

/* preparation time - header */
#preparation-time > div {
  color: hsl(332, 51%, 32%);
  font-size: 21px;
  font-weight: 600;
}

/* preparation time - details*/
#preparation-time > ul {
  height: 128px;
  padding-left: 25px;
}

.prep-time-li {
  width: 80%;

  margin-top: 10px;
  padding-left: 16px;

  color: hsl(30, 10%, 34%);
}

.prep-time-li::marker {
  color: hsl(332, 51%, 32%);
}

.prep-time-li:nth-of-type(1){
  padding-top: 25px;
}

#b1 {
  position: relative;
  top: -10px;
}

#t1 {
  position: relative;
  top: -10px;
}

.prep-time-li > span:nth-child(1) {
  font-weight: 600;
  color: hsl(30, 10%, 34%);
}




#ingredients {
  width: 100%;
  height: 290px;
}
.div-title {
  width: 95%;
  height: 60px;

  font-size: 28px;
  font-family: 'young serif';
  color: hsl(14, 45%, 36%);

  padding-top: 25px;
}


#ingredients > ul {
  height: 228px;

  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}


#ingredients > ul > li { 
  font-size: 18px;
}

#ingredients > ul > li::marker {
  color:  hsl(14, 45%, 36%);
}

.centered-bullet {
  padding-top: 16px;
}

.centered-li {
  position: relative;
  top: -12px;
}

.hr-line {
  border: 1px solid hsl(30, 18%, 87%);
}


#instructions {
  width: 100%;
  height: 780px;

}

#instructions > div {
  width: 90%;
}

#instructions > ol {
  height: 718px;

  padding: 25px 0px 25px 25px;

  display: flex;
  flex-direction: column;

  gap: 16px;
}

#instructions > ol > li::marker {
  color:  hsl(14, 45%, 36%);
  font-weight: 600;
}

#instructions > ol > li {
  width: 93%;

  padding-left: 20px;

  
  line-height: 24px;
}

#instructions > ol > li > span {
  font-weight: 600;

}


#nutrition {
  width: 100%;
  height: 270px;
}


#nutrition > p {
  width: 90%;
  height: 65px;

  padding-top: 16px;
}

#nutrition > table {
  /* background-color: green; */
  width: 100%;
  height: 100px;
  
  border-collapse: collapse;

  font-size: 15px;
}

tr {
  height: 10px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

td {
  padding: 7px 32px;
}

td:nth-child(odd) {
  width: 40%;
}

td:nth-child(even) {
  color:  hsl(14, 45%, 36%);
  font-weight: 600;
}

tr:nth-child(4) {
  border-bottom: none;
}




@media only screen and (width <= 280px) {

  #root {
    background-color: chocolate;
    width: 100%;
    height: 100%;
  
    /* width: 1440px;
    height: 1955px; */
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  #page-wrapper {
    width: 100%;

  }

  #page-wrapper > main {
    width: 100%;
    height: 100%;
  
    border-radius: 20px;
  
    overflow: auto;
  }

  #omelette-img {
    width: 280px;
    height: 170px;
  }

  #main-content {
  
    width: 100%;
    height: 1873px;
  
    padding: 20px;
  
    color: hsl(30, 10%, 34%);
  }
  
  #recipe-description {
    width: 241px; 
  }

  #recipe-description > h1 {
    font-size: 34px;
    width: 241px;
  }

  #recipe-description > p {
    padding-top: 15px;
    width: 241px;
    font-size: 15px;
  }

  #preparation-time {  
    padding: 20px;
    border-radius: 5px;
  }

  .prep-time-li {
    width: 90%;
    font-size: 14px;
  }

  #ingredients {
    width: 241px; 
  }

  #ingredients > ul {
    padding: 25px 0px 25px 25px;
  }

  #ingredients > ul > li {
    width: 100%;
    font-size: 16px;
  }
  
  #instructions {
    width: 241px; 
  }

  #instructions > ol {
    font-size: 14px;
    width: 241px;
  }
  
  #instructions > ol > li {
    line-height: 21px;
    width: 100%;
  }

  #nutrition {
    width: 241px; 
  }

  #nutrition > p {
    width: 241px;
    font-size: 13px;
  }

}

@media only screen and (280px < width <= 374px) {
  #page-wrapper {
    width: 100%;
    height: 2043px;
  }
  
  #recipe-description > h1 {  
    font-size: 34px;
  }

  #recipe-description > p {
    padding-top: 15px;

    font-size: 15px;
  }

  #preparation-time {  
    padding: 20px;
    border-radius: 5px;
  }

  .prep-time-li {
    width: 90%;
    font-size: 14px;
  }

  #ingredients > ul > li { 
    font-size: 16px;
  }
  
  #instructions > ol {
    font-size: 14px;
  }
  
  #instructions > ol > li {
    line-height: 21px;
  }

  #nutrition > p {
    width: 100%;
    font-size: 13px;
  }

}

/* DESKTOP */
@media only screen and (800px < width) {

  #page-wrapper {
    background-color: darkcyan;
    width: 1440px;
    height: 1955px;

    padding: 120px 0px;

  }
  
  #page-wrapper > main {
    background-color: rebeccapurple;
    width: 720px;
    height: 1760px;
  
    padding: 40px;
    border-radius: 20px;
    
    overflow: auto;
  }
  
  /*  main > header*/
  #omelette-img {
    background-color: orangered;
  }
  
  #omelette-img > img {
    width: 50%;
  
  }

  /* main > div */
  #page-wrapper {
    width: 100%;
    height: 2043px;
  }
  
  #recipe-description > h1 {  
    font-size: 34px;
  }

  #recipe-description > p {
    padding-top: 15px;

    font-size: 15px;
  }

  #preparation-time {  
    padding: 20px;
    border-radius: 5px;
  }

  .prep-time-li {
    width: 90%;
    font-size: 14px;
  }

  #ingredients > ul > li { 
    font-size: 16px;
  }
  
  #instructions > ol {
    font-size: 14px;
  }
  
  #instructions > ol > li {
    line-height: 21px;
  }

  #nutrition > p {
    width: 100%;
    font-size: 13px;
  }


}